@medidok:registry=https://mdtfs.medidok.de:8443/DefaultCollection/_packaging/MdNuGet/npm/registry/
always-auth=true

; begin auth token
//mdtfs.medidok.de:8443/DefaultCollection/_packaging/MdNuGet/npm/registry/:username=DefaultCollection
//mdtfs.medidok.de:8443/DefaultCollection/_packaging/MdNuGet/npm/registry/:_password=Z28yMmhjb2Y1N3c2c25oeGo0ZXN5emR6bHc3emozZHNlaGZ2NXRjNjRheHQ1anhpd3hocQ
//mdtfs.medidok.de:8443/DefaultCollection/_packaging/MdNuGet/npm/registry/:email=npm requires email to be set but doesn't use the value
//mdtfs.medidok.de:8443/DefaultCollection/_packaging/MdNuGet/npm/:username=DefaultCollection
//mdtfs.medidok.de:8443/DefaultCollection/_packaging/MdNuGet/npm/:_password=Z28yMmhjb2Y1N3c2c25oeGo0ZXN5emR6bHc3emozZHNlaGZ2NXRjNjRheHQ1anhpd3hocQ
//mdtfs.medidok.de:8443/DefaultCollection/_packaging/MdNuGet/npm/:email=npm requires email to be set but doesn't use the value
; end auth token